<div class="game">
  <div class="center-div">
    <div *ngIf="isActive" style="display: flex; flex-direction: column; align-items: center;">
      <app-timer [timeLeft]="timeLeft" (gametimeExpired)="setGameOver($event)"></app-timer>
      <p style="color: #d0d0d0; font-size: 16px; font-weight: bold; margin-top: 10px;">
        Number of Letters: {{ numOfLetters }}
      </p>

      <div style="position: relative; height: 40px; margin-top: 10px;">
        <div *ngFor="let msg of pointMessages; let i = index"
             class="point-message-center"
             [style.color]="msg.isPositive ? 'green' : 'red'"
             [style.top]="(i * 5) + 'px'"
             [style.animation-delay]="i * 0.05 + 's'">
          {{ msg.text }}
        </div>
      </div>
    </div>

    <div *ngIf="!isActive" style="display: flex; flex-direction: column; align-items: center; background-color: #d0d0d0; padding: 20px; border-radius: 8px;">
      <mat-form-field appearance="outline" style="width: 80px; margin-bottom: 8px;">
        <!-- <mat-label>Letters</mat-label> -->
        <mat-select [(ngModel)]="numOfLetters" (selectionChange)="handleChange($event.value)">
          <!-- <mat-option [value]="0">Select a value</mat-option> -->
          <mat-option [value]="1">1</mat-option>
          <mat-option [value]="2">2</mat-option>
          <mat-option [value]="3">3</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button
              color="primary"
              (click)="startGame()"
              [disabled]="numOfLetters === 0"
              style="min-width: 80px;">
        Start
      </button>
    </div>
  </div>

  <button *ngIf="!isActive" mat-raised-button
          color="accent"
          (click)="handleGoBack()"
          style="position: fixed; bottom: 20px; left: 70px;">
    Back to Board
  </button>

  <button mat-raised-button
          (click)="toggleFullscreen()"
          style="position: fixed; bottom: 20px; left: 220px;">
    {{ isFullscreen ? 'Exit Fullscreen' : 'Fullscreen' }}
  </button>

  <div *ngFor="let section of selectedSections">
    <div [ngClass]="getSectionCssClass(section)">
      <div *ngFor="let letter of section.letters; let i = index"
           class="letter-tile"

           (click)="handleLetterClick(letter.id, i)"
            [style.pointer-events]="userCanClickLetters ? 'auto' : 'none'">
        <img [src]="letter.pngfilePath" style="width: 110px; height: 163px;">
      </div>
    </div>
  </div>

  <p *ngIf="isActive"
     style="position: fixed; bottom: 5%; right: 8%; color: #d0d0d0; font-size: 24px; font-weight: bold;">
    Points: {{ points }}
  </p>

  <p *ngIf="isActive"
     style="position: fixed; bottom: 5%; left: 8%; color: #d0d0d0; font-size: 18px; font-weight: bold;">
    Username: {{ playerUsername }}
  </p>
</div>
