.game {
  background-color: black;
  min-height: 100vh;
}

.container {
  display: flex;
  gap: 0px;
}

.top-right {
  position: fixed;
  top: 10px;
  right: 10px;
}

.top-left {
  position: fixed;
  top: 10px;
  left: 10px;
}

.center-div {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.middle-right {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.middle-left {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.bottom-center {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-right-game {
  position: fixed;
  top: 65%;
  right: 10px;
  transform: translateY(-50%);
}

.middle-left-game {
  position: fixed;
  top: 35%;
  margin-top: 35px;
  left: 10px;
  transform: translateY(-50%);
}

.not-active {
  opacity: 0.5;
}

.letter-tile {
  transition: all 0.1s ease;
  border: 1px solid black;
  display: inline-block;
  line-height: 0;
}

.letter-tile:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.point-message-center {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  animation: fadeOutSimple 0.8s ease-out forwards;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes fadeOutSimple {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
