.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container form input {
  padding: 10px;
  font-size: 16px;
}

.login-container form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #0056b3;
}


.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px;
  border-radius: 5px;
  cursor: pointer; /* Make sections appear clickable */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;

}

.letters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.letter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}


